Background color for suggestions
#suggestions {
    margin-top: 10px;
}

#suggestions{
    cursor: pointer;
    padding: 5px;
    border: 0px solid #ccc;
    background-color: #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    min-width: 200px;
    max-width: 500px;
    position: relative;
  
}
#suggestions div{
    border-radius: 5px;
    text-align: center;
    border:0px 1px solid rgb(27, 24, 24);
    margin:2px;
    padding: 3px;
}
.date-filter input{
    border-radius: 5px;
    text-align: center;
    border:0px 1px solid rgb(27, 24, 24);
    margin:2px;
    padding: 3px;
}



#suggestions div:nth-child(even){
    background-color: rgb(192, 189, 189);
}
#suggestions div:nth-child(odd){
    background-color: rgb(192, 189, 189);
}


#suggestions div:hover {
 background-color: navy;
    color: whitesmoke;
    /* width: 400px; */
    transition: 0.3s;
}


table {
align-items: center;
align-content: center;
color: #f1e0e0;
width: 80%;
border-collapse: collapse;
margin-bottom: 20px;
margin-left: 10%;
}




th, td {
border: 1px solid #dddddd;
/* background-color: #b97cc4;
 */

text-align: center;
padding: 8px;
}
td{
    color: rgb(5, 4, 4);
 background-color: whitesmoke;

}
td:hover{
/* background-color: #98739e; */
color: black;


}
th{
    /* background-color: #693972; */
    /* background-color: #130a64 ; */
    background-color: navy;

}
body{

color: black;
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,'San Francisco'; */
/* font-family: '-apple-system', 'BlinkMacSystemFont',' Segoe UI',' Roboto', 'Helvetica Neue', Arial, sans-serif; */
font-size: 1em;
margin: 0px;
/* border: 1px; */
}

input[type="text"] {
max-width: 70%;
min-width: 20%;
padding: 10px;
/* padding-top: 10px; */
margin-left: 14px;
font-size: 16px;
font-size: 16px;
font-family: 'Lexend', sans-serif;
    outline: none;
    font-style: bold;
/* font-family: 'San Fransico'; */
font-family: 'Lexend', sans-serif;
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,'San Francisco'; */
outline: none;

font-style: bold;
border: 0px solid #ccc;
border-radius: 10px;
background-color: transparent;
}

.cn2 {
    /* position:relative; */
    /* display: flex; */
    /* justify-content: center; */
    margin: 2px;
    /* align-items: center; */
    margin-top: 0px;
    /* background-color: #be81c9;
 */
    /* background-color:#77cebf ; */
    padding: 7px;
    /* width: 300px; */
    height: 600px;
    /* border: 2px solid red; */

 /
}
.cn3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cn21 {
    display: flex;
    justify-content: center;
    margin: 3px;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 28px;
    padding: 8px;
    padding-left: 13px;
    padding-right: 14px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.7);
}
.search-icon{
    
        color: rgba(0, 0, 0, 0.7);
    
}
.container{
    display: grid;
    grid-template-columns: 18% 82%;
    
    border: 1px solid rgb(252, 252, 252);
    /* background-color: #130a64;
     */
     background-color: navy;

     margin: 0;
    /* color: rgb(91, 236, 241); */
    height:100vh;
    overflow-y: hidden;
    scrollbar-width: none;
    border-radius: 5px;
}
.cn1{
    position: relative;
    overflow: hidden;
    top: 0;
    /* flex: 0 0 20%; */
    /* border: 3px solid orange; */

    display:flex;
    flex-direction: column;
    width: 333px;
    border-radius: 5px;
    margin: 0px;
    
}
.c2{
    
    overflow-y:auto;
    scrollbar-width: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 249, 252);
    width:100%;
    /* border: 3px solid orangered; */
    padding-top: 2em;
}




#devices_and_dates th:hover{
    cursor: pointer;
}
.filter{
    display: flex;
    /* background-color: #130a64; */
    width: 100%;
    border: 1px solid white;
    background-color: navy;

    /* align-items: center;
     */
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 20px; */
    justify-content: center;
    



}
.filter label{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    /* padding-left: 20px; */
    margin: 2px;
    margin:20px;
    border: 1px solid black;
}
.filter select{
    border-radius: 5px;
    /* padding: 5px; */
    width:150px;
    /* margin: 2px; */
    margin-top: 20px;
    border: 1px solid black;
    height: 2em ;
    align-items: center;
    padding: 5px;

    
}
.filter input{
    height: 2em;
    margin-top: 18px;
}

#suggestions {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 5px;
    margin-bottom: 5px;
    min-width: 200px;
    max-width: 300px;
    position: relative;
}

/* Style for individual suggestion elements */
#suggestions div {
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc; /* Light gray border */
    margin: 2px;
    padding: 8px;
    background-color: #fff; /* White background */
    color: #333; /* Dark gray text color */
}

/* Hover effect for suggestion elements */
#suggestions div:hover {
    background-color: #007bff; /* Primary blue */
    color: #fff; /* White text color */
}

/* Header styling */
.header {
    color: #fff; /* White text color */
    /* background-color: #130a64; Dark blue background */
    padding: 10px;
    background-color: navy;
    /* border: 3px solid rgb(0, 255, 76); */
 align-items: 30px;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

/* Table styling */
table {
    color: #333; /* Dark gray text color */
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-left: 10%;
}

/* Table cell styling */
th, td {
    border: 1px solid #ddd; /* Light gray border */
    text-align: center;
    padding: 10px;
    background-color: #fff; /* White background */
}

/* Alternate row background color */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
}

/* Background color for canvas */




/* Filter section styling */
.filter {
    display: flex;
    /* background-color: #130a64;  */
    width: 100%;
    border-radius: 11px;
    background-color: navy;
/* background: rgba(53, 41, 230, 0.7); */
    border: 1px solid #fff; /* White border */
    padding-top: 3px;
    padding-bottom: 3px;
    justify-content: center;
}

/* Label styling in filter section */
.filter label {
    background-color: #f2f4f8e5; /* Primary blue */
    border-radius: 5px;
    color: black;
    /* padding: 5px; */
    /* margin: 2px; */
    border: 1px solid #f5f6f7; /* Primary blue border */

}

/* Select input styling in filter section */
.filter select {
    border-radius: 5px;
    width: 150px;
    margin-top: 20px;
    border: 1px solid #ddd; /* Light gray border */
    height: 2em;
    padding: 5px;
    color: #333; /* Dark gray text color */
}


input[type="text"] {
    max-width: 70%;
    min-width: 20%;
    padding: 10px;
    margin-left: 14px;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    outline: none;
    font-style: bold;
    border-radius: 10px;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text color */
}

/* Placeholder text color */
input::placeholder {
    color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
}

/* Search icon color */
.search-icon {
    color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
}



.cnn{
    display: flex;
    flex-direction: column;
    background:  rgb(255,255,255);

    /* border: 1px solid black; */
}
.cnn1{
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    margin: 0;
    /* padding: 10px; */
    height: 300px;
    margin-left: 100px;
   


}
.cnn2{
    width: 100%;
    /* display: flex; */
    /* border: 1px solid black; */
    margin-left: 80px;
    /* padding: 10px; */
    /* border: 1px solid blue; */

    
}


#c5 {
    background-color: #fff; /* White background */
     width:350px;
     height: 343px;
     /* border: 1px solid black; */
}

#c6 {
/* width: 95%; */
padding: 0px;
margin-left:82.5px;
/* border: 1px solid black; */
}


.cnn1 {
    display: flex;
    height:400px;
    /* border: 1px solid red; */
}




#c4 canvas,
#c5 canvas {
    background:  rgb(255,255,255);
    color: blue;
    
    /* bor
    der: 1px solid yellow; */
}
#c6 {
    justify-content: center;
    width: 790px !important;
    
    background-color: #fff; /* White background */
    border-radius: 10px;
    margin-left: 35px;
}

.c111{
    height: 400px;
    width:800px;
   

}
 canvas #dates{
    border: 1px solid black;
}
#left-arrow{
    width:60px;
    height: 60px;
    margin-top: 210px;
    /* border-radius: 7px; */
    background-color:white;
    border: white;
    color: white;
    font-size: large;
    border: none;

    margin-left: 30px;
}
#left-arrow:disabled {
    background-image: url('l2.jpg'); /* Replace with your pale image path */
    cursor: not-allowed;
    opacity: 0.5;
}
#right-arrow{
    width:60px;
    height: 60px;
    margin-top: 210px;

    font-size: large;
    /* border-radius: 7px; */

    /* background-color: navy; */
    color: white;
    background-color:white;
    border: navy;
    margin-left: 10px;
}
#right-arrow:disabled {
    background-image: url('r1.jpg'); /* Replace with your pale image path */
    cursor: not-allowed;
    opacity: 0.5;
}
#right:disabled {
    background-image: url('r1.jpg'); /* Replace with your pale image path */
    cursor: not-allowed;
    opacity: 0.5;
}
#right{
    width:33px;
    height: 33px;
    /* margin-top: 10px; */
    border-radius: 70px;

    font-size: large;
    /* border-radius: 7px; */

    background-color: white;
    color: white;
    border: white;
    
    /* margin-left: 1000px; */
}
#left{
    width:33px;
    height: 33px;
    /* margin-top: 10px; */
    border-radius: 70px;

    background-color: white;

    font-size: large;
    /* border-radius: 7px; */

    /* background-color: navy; */
    color: white;
    
    border: white;
    /* margin-left: 10px; */
}
#left:disabled {
    background-image: url('l2.jpg'); /* Replace with your pale image path */
    cursor: not-allowed;
    opacity: 0.5;
}
img #right-arrow,#left-arrow{
    width: 80px;
    border-radius: 70px;
    height: 80px;
}
.cb{
    display:flex;
    flex-direction: row;
    border: 2px solid navy;
    border-radius: 4px;
    margin:10px;
}
.buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.c222{
    width:800px;
    max-width: 800px;
    /* overflow-x: scroll; */
}

#c4{
    padding: 0px;
    height: 400px;
    width:800px;
    /* border: 1px solid black; */
}
/* .ind_date{
    border: 2px solid navy;

    border-radius: 4px;
    margin: 10px;
    margin-top: 13px;
    align-content: center;
   width:780 px;
    height: 500px;
} */
.cnn3{
    border: 2px solid navy;
    border-radius: 4px;
    margin: 10px;
}

#session-charts-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width:95%;
    /* border: 1px solid rebeccapurple; */
}

#session-charts-container canvas {
    width: 444px !important;  /* Set the desired width */
    height: 444px !important;  /* Set the desired height */
    margin: 10px;  /* Add some spacing around each chart */
    /* background-color: #f8f8f8;   */
    /* border: 1px solid #ccc; */
    border-radius: 5px;  /* Rounded corners */
}

.ind_date {
    border: 2px solid navy;
    border-radius: 4px;
    margin: 10px;
    margin-top: 13px;
    align-items: center;
    /* height: 500px; */
}
.box{
    height:520px;
}

.cn2 {
    margin: 2px;
    margin-top: 0px;
    padding: 7px;
    height: 600px;
}

